.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: gainsboro;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #8c8c8d;
  font-size: 8rem;
  color: #eb8c00;
}

p {
  font-size: 2rem;
  color: black;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  background-color: grey;
  color: blanchedalmond;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
